@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

html, body {
  margin: 0;
  padding: 0;
  background: #f9a73e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
  text-align: center;
}

.hidden{
  display: none;
}

h1{
  font-family: 'Racing Sans One', cursive;
  font-size: 3em ;
  color: white;
  text-shadow: 2px 2px 5px black;
}

nav > *{
  font-size: 1.2em;
  color:white;
  width: 430px;
  border: none;
  border-radius: 25px; 
  margin: 25px auto;
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.record{
  background: #ea3b4a;
}
.record *{
  margin: 0 15px 0 0;
}
.recording{
  background: white;
  color: #ea3b4a;
}

.listen{
  background: #27b376;
}
.listen *{
  margin: 0 15px 0 0;
}

.download{
  background: #4176e0;
}
.download *{
  margin: 0 10px;
}